:root{
    --text-light: #000;
    --bg-light: #fff;
}

.login-container {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-light);
  color: var(--text-light);

  transition: 1s ease-in-out;
}
.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  border-radius: 15px;
  -webkit-box-shadow: 1px 8px 24px -1px rgba(0,0,0,0.46);
  -moz-box-shadow: 1px 8px 24px -1px rgba(0,0,0,0.46);
  box-shadow: 1px 8px 24px -1px rgba(0,0,0,0.46);
  min-width: 20rem;
  min-height: 25rem;
}
.login-button input{
    font-size: 16px;
    background: none;
    border: none;
}