.bx{
    font-size:  24px;
}

.password-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user-input{
    display: flex;
}
.user-input input{
    background: none;
    border: none;
    border-bottom: 1px solid #000;
}
.password-input{
    display: flex;
}
.password-input input{
    background: none;
    border: none;
    border-bottom: 1px solid #000;
}